/* ----- Global elements ----- */
html, body {
  margin: 0;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6, p {
  color: white;
  font-family: "Urbanist", sans-serif;
}

/* --x-- Global elements --x-- */
/* ----- Navigation -----*/
.github-link {
  margin-bottom: 5px;
  color: white;
}

.github-link:hover {
  color: #c8c8c8;
}

.github-link .fa-github {
  font-size: 2rem;
}

.github-link .github-link-text {
  font-size: 0.9rem;
  font-family: "Urbanist", sans-serif;
  margin: 0.9rem 0 0 0;
}

.nav {
  display: flex;
  padding-top: 10px;
  background-color: #161b22;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
}

.nav .nav-items {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav .nav-items .nav-item {
  padding: 0 16px;
}

.nav .nav-items .nav-item a {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-family: "Urbanist", sans-serif;
}

.nav .nav-items .nav-item a:hover {
  color: #c8c8c8;
}

.nav .nav-items .nav-item a:hover {
  color: #c8c8c8;
}

a:hover .border-anim {
  visibility: visible;
  animation: border-width 0.2s;
  animation-fill-mode: forwards;
}

.border-anim {
  visibility: hidden;
  margin: auto;
  height: 2px;
  margin-top: 1px;
  border-radius: 35px;
}

.mobile-menu {
  visibility: hidden;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

.mobile-menu:hover {
  color: #c8c8c8;
}

.hide-element {
  visibility: visible;
}

@keyframes border-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-image: linear-gradient(to right, #28323f, #ccc, #ccc, #28323f);
  }
}
/* --x-- Navigation --x--*/
/* ----- Content ----- */
.content-box .content-item-end {
  margin: 10px;
  border-bottom: 2px solid #ccc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-box {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.content {
  margin-top: 30px;
}

.row {
  top: 0;
  margin: 0;
}

.content-box {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(315deg, #28323f, #0a0c0f);
  box-shadow: 0 0 2px 0 #616161;
  border: 1px solid #494848;
  border-radius: 5px;
  height: 50rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content-box img {
  width: 100%;
}

.content-box p {
  margin-top: 10px;
  text-align: left;
}

.content-box a {
  color: #58a6ff;
}

.content-box a:hover {
  color: #83bafa;
}

/* --x-- Content --x-- */
/* ----- Responsiveness -----*/
@media (max-width: 767px) {
  .nav {
    justify-content: space-evenly;
  }

  .nav .nav-items {
    position: relative;
    flex-direction: column;
    background-color: #445164;
    width: 100%;
  }

  .nav .nav-items .nav-item {
    margin: 0;
  }

  .nav .nav-items .nav-item:hover {
    background-color: #28323f;
  }

  .mobile-menu {
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .nav .nav-items {
    visibility: visible !important;
  }

  .mobile-menu {
    visibility: none;
  }

  .border-anim {
    visibility: visible !important;
  }
}
/* --x-- Responsiveness --x--*/
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
